<div class='user-form'>
  <h1>Login</h1>

  <% if (errors) {%>
    <% errors.forEach(function (error) { %>
      <%= __(error) %>
    <% }) %>
  <% } %>

  <form role='form' action='/auth/local' method='post'>
    <label>Username or Email:</label>
    <input type='text' name='identifier' placeholder='Username or Email' required>

    <label>Password:</label>
    <input type='password' name='password' placeholder='Password' required>

    <input type='submit' value='Login'>
  </form>

  <% if (providers) {%>
    <div id='login-providers'>
      <h4>You can also use one of these...</h4>

      <a href='/auth/twitter' role='button'>Twitter</a>
    </div>
  <% } %>
</div>
