<!--
   __  ______             __  __    _
  / / / / / /__________ _/ /_/ /_  (_)___  _____
 / / / / / __/ ___/ __ `/ __/ __ \/ / __ \/ ___/
/ /_/ / / /_/ /  / /_/ / /_/ / / / / / / (__  )
\____/_/\__/_/   \__,_/\__/_/ /_/_/_/ /_/____/

-->

<header>
  <div class='container'>
    <a id='logo' href='/'>Itty Bitty</a>

    <nav id='nav'>
      <ul id='nav-main'>
        <% if (!req.user) { %>
          <li><a href='/login'>Login</a></li>
          <li><a href='/register' id='register'>Sign up</a></li>

          <li><a href='/tutorials'>Tutorials</a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>
