<header>
  <div class='container'>
    <a id='logo' href='/'>Itty Bitty</a>

    <nav id='nav'>
      <ul id='nav-main'>
        <% if (!loggedIn) { %>
          <li><a href='/login'>Login</a></li>
          <li><a href='/register' id='register'>Sign up</a></li>
        <% } %>
        <li><a href='/tutorials'>Tutorials</a></li>
      </ul>
    </nav>
  </div>
</header>
