<h1>Achievements</h1>
<table id="achievements_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <%for (var i = 0; i < achievements.length; i++) { %>
      <tr>
        <td><%=achievements[i].name%></td>
    		<td><%=achievements[i].description %></td>
      </tr>
    <%}%>
  </tbody>
</table>