<section id='home-hero'>
  <div id='home-hero-overlay'>
    <div class='container'>
      <div id='home-hero-intro'>
        <div id='home-hero-intro-text'>
          <h1>There are 10 types of people...</h1>
          <h3>You know where this is going.</h3>
        </div>
      </div>
    </div>
    <a href='#home-about-anchor' id='home-more'>More</a>
  </div>
</section>

<a id='home-about-anchor'></a>
<section id='home-about'>
  <div class='container'>
    <div class='home-about-card'>
      <img src='../images/binary.png'>

      <h3>Count differently</h3>
      <p>Learn how to count in different numerical bases, including binary and hexadecimal.</p>
    </div>

    <div class='home-about-card'>
      <img src='../images/bit.png'>

      <h3>Bitwise operations</h3>
      <p>Learn how to manipulate bits.</p>
    </div>

    <div class='home-about-card'>
      <img src='../images/convert.png'>

      <h3>Quick conversion</h3>
      <p>Learn how to convert between binary, decimal, and hexadecimal with ease.</p>
    </div>

    <div class='home-about-card'>
      <img src='../images/cap.png'>

      <h3>Become a master</h3>
      <p>Perform bitwise operations and numerical base conversions like a pro.</p>
    </div>

    <a href='/register' id='register_alt'>Sign up today</a>

    <a href='/login'>Or login with Facebook, Twitter, Google, or GitHub!</a>
  </div>
</section>
