<header id='home-header'>
  <div class='container'>
    <a href='/' id='logo'>Itty Bitty</a>

    <div id='nav'>
      <a href='/login' id='login'>Login</a>
      <a href='/register' id='register'>Register</a>
    </div>
  </div>
</header>

<section id='home-hero'>
  <div id='home-hero-overlay'>
    <div class='container'>
      <div id='home-hero-intro'>
        <div id='home-hero-intro-text'>
          <h1>There are 10 types of people...</h1>
          <h3>You know where this is going.</h3>
        </div>
      </div>
    </div>
    <a href='#home-about' id='home-more'>More</a>
  </div>
</section>

<section id='home-about'>
  <div class='container'>
    <div class='home-about-card'>
      <img src='../images/binary.png'>

      <h2>Learn</h2>
      <p>Learn how to count in different numerical bases, including binary and hexadecimal.</p>
    </div>

    <div class='home-about-card'>
      <img src='../images/bit.png'>

      <h2>Bitwise operations</h2>
      <p>Learn how to manipulate bits.</p>
    </div>

    <div class='home-about-card'>
      <img src='../images/convert.png'>

      <h2>Quick conversion</h2>
      <p>Learn how to convert between binary, decimal, and hexadecimal with ease.</p>
    </div>

    <div class='home-about-card'>
      <img src='../images/cap.png'>

      <h2>Become a master</h2>
      <p>Perform bitwise operations and numerical base conversions like a pro.</p>
    </div>
  </div>
</section>

<script>
  function isScrolledFromTop(offset) {
    return window.scrollY >= offset;
  }

  // Toggle header background depending on scroll position
  window.onscroll = function (event) {
    document.getElementById('home-header').className =
      isScrolledFromTop(window.innerHeight / 4) ? 'home-header-scrolled' : '';
  }
</script>
