<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Itty Bitty</title>

    <link rel="stylesheet" href="/styles/importer.css">

    <script src="/js/jquery-2.1.1.min.js"></script>
  </head>

  <body id='home'>
    <%- partial ('partials/header.ejs') %>

    <%- body %>

    <%- partial ('partials/footer.ejs') %>

    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script>
      function isScrolledFromTop(offset) {
        return window.scrollY >= offset;
      }

      // Toggle header background depending on scroll position
      window.onscroll = function (event) {
        document.querySelector('header').className =
          isScrolledFromTop(window.innerHeight / 4) ? 'home-header-scrolled' : '';
      }

      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var $target = $(this.hash);
          $target = $target.length ? $target : $('[name=' + this.hash.slice(1) +']');
          if ($target.length) {
            $('html,body').animate({
              scrollTop: $target.offset().top
            }, Math.abs(window.scrollY - $target.offset().top) * 0.75);
            return false;
          }
        }
      });
    </script>
  </body>
</html>
