<h1>Leaderboards</h1>



<% var ranks = [] %>

<% for (var i = 0; i < user.length; i++) { %>
  <% var theScore= 0 %>
  <% var theName = user[i].username %>

  <% for (var j = 0; j < scores.length; j++) { %>
    <% if (user[i].id == scores[j].user) { %>
      <% theScore = theScore + scores[j].score %>
    <% } %>
  <% } %>

  <% var info = {name: theName, score: theScore} %>
  <% ranks[i] = info %>
<% } %>

<% ranks.sort(function(a, b) {return b.score - a.score}) %>

<% for (var i = 0; i < ranks.length; i++) { %>
	<h3> <%= i + 1 %>. <%= ranks[i].name %> has <%= ranks[i].score %> points<h3>
<% } %>

