<div class='user-form'>
  <h1>Login</h1>

  <form action='login' method='post'>
    <label>Email:</label>
    <input type="email" name="email" required>

    <label>Password:</label>
    <input type="password" name="password" required>

    <input type="submit" value="Login">
  </form>
</div>
