<div class='user-form'>
  <h1>Register</h1>

  <form action='register'>
    <label>Email:</label>
    <input type="email" name="email" required>

    <label>Password:</label>
    <input type="password" name="password" required>

    <label>Confirm password:</label>
    <input type="password" name="password2" required>

    <input type="submit" value="Register">
  </form>
</div>
