<div class='user-form'>
  <h1>Register</h1>

  <form action='register'>
    <label>First name:</label>
    <input type="text" name="firstname" value="Mickey">

    <label>Last name:</label>
    <input type="text" name="lastname" value="Mouse">

    <input type="submit" value="Submit">
  </form>
</div>
