@import 'reset';
@import 'constants';
@import 'mixins';


/** Main */

body {
  background: $dark-grey;
  font: 400 16px/24px $fonts;
  color: $dark-grey;
}

::selection {
  background-color: $light-blue;
}

::-moz-selection {
  background-color: $light-blue;
}


/** Code */
pre,
.code {
  font: 14px/20px $mono-fonts;
}


/** Headings */

h1 {
  font: 300 2.25em $fonts;
  margin: 0;
}

h2 {
  font: 300 2em $fonts;
  margin: 0;
}

h3 {
  font: 400 1.5em $fonts;
  margin: 0;
}

h4 {
  font: 600 1em $fonts;
  margin: 0;
}


/** Paragraphs */

p + p {
  margin-bottom: 1.125em;
}


/** Links */

a {
  color: $dark-blue;
  text-decoration: none;
  transition: all $time-quick;

  &:hover {
    color: $blue;
  }
}


/** Alert messages */

.alert {
  border-radius: $radius;
  display: block;
  padding: 0.25em;
  width: 100%;
}

.error {
  @extend .alert;
  background: $light-red;
  border: 1px solid $red;
}

.warning {
  @extend .alert;
  background: $light-yellow;
  border: 1px solid $yellow;
}

.success {
  @extend .alert;
  background: $light-green;
  border: 1px solid $green;
}


/** Text field inputs */

label {
  display: block;
  margin: 1em 0 0.25em;
}

input,
textarea {
  background: $light-grey;
  border-radius: $radius;
  border: 1px solid $grey;
  color: $dark-grey;
  font: 400 1em $fonts;
  outline: none;
  padding: 0.5em 0.75em;
  transition: all $time-quick;
  width: 100%;

  &:hover {
    background-color: $white;
    border-color: $dark-blue;
  }

  &:focus {
    background-color: $white;
    border-color: $blue;
  }

  &[disabled] {
    background-color: $disabled-grey;
    border-color: $disabled-dark;
    color: $disabled-dark;
  }

  &.large-text {
    padding: 1em 1.15em;
  }
}

textarea {
  height: 2.5em;
  resize: none;

  &:focus {
    height: 7.5rem;
  }
}

select {
  background: none;
  border-radius: $radius;
  border: 1px solid $light-blue;
  margin: 5px;
  padding-left: 5px;
}


/** Buttons */

input[type='button'],
input[type='submit'],
input[type='reset'],
button {
  background: linear-gradient($white, $light-grey);
  border-radius: $radius;
  box-shadow: inset 0 -1px 0 $grey;
  transition: all $time-quick;
  border: 1px solid $blue;
  color: $dark-grey;
  font: 400 1em $fonts;
  min-width: 175px;
  outline: none;
  padding: 0.5em 1.5em;
  text-shadow: 0 1px 0 $white;

  &:hover {
    border-color: $dark-blue;
    box-shadow: inset 0 -1px 0 $grey, 0 1px 0 $light-grey;
    color: $dark-blue;
    top: 1px;
  }

  &:focus {
    box-shadow: inset 0 -1px 0 $grey, 0 0 3px $blue;
  }

  &:active {
    background: linear-gradient($light-grey, $white);
    box-shadow: none;
    color: $dark-blue;
  }

  &[disabled] {
    background: linear-gradient($light-grey, $disabled-grey);
    box-shadow: none;
    border-color: $disabled-dark;
    color: $disabled-dark;
  }

  &.large-button {
    min-width: 200px;
    padding: 0.75em 2em;
  }

  &.inline-button {
    min-width: 125px;
    padding: 0.25em 1em;
  }
}


/** Tables */

table {
  border: 1px solid $grey;
  border-bottom: none;
  width: 100%;

  thead {
    background-color: $light-grey;
    border-bottom: 2px solid $grey;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;

    .asc,
    .des {
      cursor: pointer;

      &::after {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 0.85em 0.85em;
        content: "";
        display: inline-block;
        height: 0.85em;
        margin-left: 0.25em;
        vertical-align: middle;
        width: 0.85em;
      }
    }

    .asc::after {
      background-image: url(../images/asc@2x.png);
    }

    .des::after {
      background-image: url(../images/des@2x.png);
    }
  }

  tr {
    border-bottom: 1px solid $grey;

    th,
    td {
      border-right: 1px solid $grey;
      padding: 0.5em 1em;
      vertical-align: middle;

      &:last-child {
        border-right: none;
      }
    }
  }

  tbody {
    tr {
      transition: all $time-quick;

      &:nth-child(odd) {
        background-color: $white;
      }

      &:nth-child(even) {
        background-color: $light-grey;
      }

      &:hover {
        background: $light-blue;
      }
    }
  }
}


/** Dialog modal windows */

.dialog {
  background: $white;
  border-radius: $radius;
  box-shadow: 0 0 10px $grey;
  max-width: 100%;
  padding: 2.5em 1.5em;
  z-index: 100000;

  .dialog-actions {
    text-align: center;
    margin-top: 1.5em;

    button {
      margin: 0.5em;
    }
  }
}


/** Menus */

nav {
  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      text-align: center;

      a {
        display: block;
        height: 3em;
        line-height: 3em;
        padding: 0 1em;
      }
    }
  }
}
