// Main
// ========================================================

body {
  background: #eee url('../images/grey.png');

  @include hidpi {
    background-image: url('../images/grey@2x.png');
  }
}

// Centred contents
.container {
  margin: 0 auto;
  max-width: 1500px;
  width: 80%;
}


// Header
// ========================================================

header {
  background: $blue;

  .container {
    display: table;
    padding: 0 1em;

    @include breakpoint(small) {
      display: block;
    }
  }

  a {
    color: $white;
    padding: 2em 1em;

    &:hover {
      color: $white;
    }
  }
}

  #logo,
  #nav {
    display: table-cell;
    vertical-align: middle;

    @include breakpoint(small) {
      display: block;
    }
  }

  #logo {
    background: url('../images/logo.png') no-repeat center center;
    background-size: 246px 29px;
    height: 40px;
    width: 246px;
    text-indent: -3000em;

    @include breakpoint(small) {
      margin-bottom: 1em;
    }

    @include hidpi {
      background-image: url('../images/logo@2x.png');
    }
  }

  #nav {
    text-align: right;

    @include breakpoint(small) {
      text-align: left;
    }
  }

    #nav-main li {
      margin-left: 1em;
    }

    #register {
      border: 1px solid $white;
      border-radius: 3em;
      padding-left: 2em;
      padding-right: 2em;

      &:hover {
        background-color: $white;
        color: $dark-blue;
      }
    }


// Main content block
// ========================================================

main {
  padding: 2em 1em;
}


// Footer
// ========================================================

footer {
  background: $dark-grey;
  color: $white;
  font-size: 0.9em;

  .container {
    padding: 4em 1em;
  }
}

#footer-gradient {
  background: linear-gradient(90deg, $orange, $pink);
  height: 5px;
  width: 100%;
}

#footer-logo {
  background: url('../images/logo_light.png') no-repeat;
  background-size: 245px 28px;
  height: 28px;
  width: 245px;
  text-indent: -3000em;

  @include hidpi {
    background-image: url('../images/logo_light@2x.png');
  }
}


// User login/registration
// ========================================================

.user-form {
  background: $white;
  border-radius: $radius;
  box-shadow: 0 4px 10px lighten($blue, 25%);
  margin: 0 auto;
  max-width: 25em;
  padding: 2em 1em;

  input[type='submit'] {
    margin-top: 1.5em;
  }
}

  #login-providers {
    margin-top: 2em;
  }


// Homepage
// ========================================================

#home header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  transition: background-color $time-quick, box-shadow $time-quick;
  will-change: background-color;
}

  .home-header-scrolled {
    background-color: $blue !important;
    box-shadow: 0 1px 5px $dark-blue;
  }

  #register_alt {
    border: 1px solid $blue;
    border-radius: 30px;
    display: block;
    margin: 3em auto 1em;
    padding: 1em 2em;
    width: 15em;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }

#home-hero {
  background: url('../images/hero.jpg') fixed no-repeat center center / cover;
  color: $white;
  height: 100%;
}

  #home-hero-overlay {
    background: linear-gradient(45deg, rgba($blue, .8), rgba($dark-blue, .8));
    box-sizing: border-box;
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .container {
      position: relative;
      display: table;
      height: 100%;
      padding: 1em;
    }
  }

  #home-hero-intro {
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
  }

  #home-hero-intro-text {
    background: linear-gradient($pink, $orange);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $pink;

    h3 {
      margin-top: 0.75em;
    }
  }

  #home-more {
    border-radius: 50%;
    border: 1px solid $white;
    bottom: 1em;
    color: $white;
    display: block;
    height: 2em;
    left: 50%;
    margin-left: -1em;
    outline: none;
    opacity: 0.7;
    position: absolute;
    text-indent: -3000em;
    width: 2em;

    &:hover {
      opacity: 1;
    }

    &::after {
      color: $white;
      content: "v";
      display: block;
      font-weight: 300;
      height: 2em;
      left: -1px;
      line-height: 2em;
      position: absolute;
      text-align: center;
      text-indent: 0;
      top: -1px;
      width: 2em;
    }
  }

#home-about-anchor {
  position: relative;
  top: -6em;
}

#home-about {
  padding: 4em 1em;
  text-align: center;
}

  .home-about-card {
    background-color: $white;
    border-radius: $radius;
    box-shadow: 0 3px 5px lighten($blue, 25%);
    display: inline-block;
    margin: 1em;
    padding: 1em;
    vertical-align: top;
    width: 20%;

    @include breakpoint(large) {
      width: 40%;
    }

    @include breakpoint(medium) {
      width: 100%;
    }

    img {
      height: 110px;
      width: 110px;
    }

    h3 {
      border-bottom: 1px solid $light-blue;
      color: $blue;
      padding-bottom: 0.75em;
    }

    p {
      font-size: 0.9em;
      text-align: left;
    }
  }


// Profile
// ========================================================


// Topic/level selection menus
// ========================================================


// Level
// ========================================================
