.container {
  margin: 0 auto;
  padding: 0 1em;
  width: 80%;
}

header {
  background: $blue;
}

main {
  margin: 2em 0;
}

footer {
  background: $grey;
  color: $white;
  padding: 2em 0;
}

.user-form {
  background: $white;
  border-radius: $radius;
  box-shadow: 0 3px 5px $grey;
  margin: 0 auto;
  max-width: 25em;
  padding: 2em 1em;

  input[type='submit'] {
    margin-top: 1em;
  }
}
